body {
    margin: 0;
    font-family: "Smythe", system-ui;
    width: 600px;
    color: #FFFFFF;
    margin: 0 auto;
}

/* Header */
header {
    background: url(images/diner.png);
    background-size: cover;
    background-position: center center;
    padding: 30px;
}

header div{
    padding-left: 30px;

}
.diner-name h1{
    margin-bottom: 0;
}
.diner-name p{
    margin-top: 0;
}


/* Menu items  */
.item{
    display: flex;
    margin: 30px 10px;
    border-bottom: 2px solid #d2d2d2;
}
.item-details {
    margin-left: 10px;
}
.item-img{
    font-size: 78.72px;
}
.item-name{
    color: #000000;
    font-size: 28px;
    margin-bottom: 5px;
}
.item-ingredients{
    color: #8B8B8B;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}
.item-price{
    color: #000000;
    font-size: 20px;
    margin-top: 0;
}
.add-btn{
    width: 40px;
    height: 40px;
    font-size: 32px;
    font-weight: 200;
    line-height: 100%;
    color: #3c3c3c;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 50%;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #3c3c3c;
    color: #ffffff;
}

/* order summary */
#order-summary {
    margin-top: 10px;
    /* padding: 20px; */
}
.order-heading{
    color: #000000;
    text-align: center;
}

/* Order Summary Styles */
.order-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.order-item-name {
    color: #000000;
    font-size: 20px;
}

.remove-btn {
    background: none;
    border: none;
    color: #BBBBBB;
    font-size: 12px;
    cursor: pointer;
    font-family: "Smythe", system-ui;
}

.remove-btn:hover {
    color: #ff0000;
}

.order-item-price {
    color: #000000;
    font-size: 18px;
    margin-left: auto;
}


.total-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    border-top: 2px solid #000000;
}

.total {
    color: #000000;
}
.total-price{
    color: #000000;
    margin-left: auto;
    font-size: 18px;
}

.complete-order,
.order-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: #ffffff;
    background: #16DB99;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 3px;
}
.complete-order:hover,
.order-btn:hover{
    background: #1a6b50;
}

/* Form Modal */
.btn-container {
  text-align: right;
}
.close-btn {
  border: none;
  color: #757575;
  background: transparent;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 10px 0 0;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.7;
}
#order-form {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 10px;
}

.inner-payment-modal {
  width: 350px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner-payment-modal h2 {
  font-size: 1.4rem;
  text-align: center;
}

#form {
  display: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-top: 10px;
  border: 1px solid #757575;
  padding: 15px;
  border-radius: 3px;
  font-size: 1rem;
}

/* Final message */
.thank-you-message{
    font-size: 32px;
    text-align: center;
    background: #ECFDF5;
    color: #065F46;
    padding: 20px;
    margin-bottom: 30px;
}
